* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    width: 100%;
    background: #fff;
    position: relative;
    font-family: Arial, sans-serif;
    color: black;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;

  }
  
  .md\:flex-row {
    @media (min-width: 768px) {
      flex-direction: row;
    }
  }
  
  .items-center {
    align-items: center;
  } 
  
  .header {
    display: flex;
    background-color: #074485;
    opacity: 0.7;
  }

  .cursor-pointer {
    height: 30px;
    position: relative;
    margin-top: 35px;
    margin-left: 100px;
    cursor: pointer;
  }
  
  .navbar {
      display: flex; 
      flex-direction: row;
      justify-content: center; 
      align-items: center; 
      width: 100%;
      height: 80px;
      top: 0;
  }

    .nav-links {
    margin-top: 30px;
    display: flex;
    list-style: none;
    }
  
    .nav-items a {
      margin-right: 10px; 
      color: whitesmoke; 
      text-decoration: none;
      margin-top: 20px;
      margin-left: 20px;
      opacity: 0.9; 
    }

    .right-container {
      margin-top: 20px;
      margin-right: 20px;
      display: flex;
      align-items: center;
      padding-left: 10px;
      padding-right: 30px;
      gap: 5px;
   }
    
      button.sub-btn {
        display: flex;
        text-align: left; 
        background-color: white; 
        color: #007bff; 
        border: 1px solid #ccc; 
        padding: 2px 8px; 
        margin: 2px; 
        outline: none; 
        border-radius: 4px; 
        font-size: 16px; 
        margin-top: 16px; 
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        white-space: nowrap;
      }
    
      button.sub-btn:hover {
        background-color: white; 
        border-color: #007bff; 
        color: #007bff; 
      }
    
      button.btn {
        align-items: center; 
        background-color: #007bff; 
        color: white; 
        border: 0; 
        padding: 2px 8px; 
        margin: 2px; 
        outline: none; 
        border-radius: 4px; 
        font-size: 16px; 
        margin-top: 15px; 
        margin-right: 100px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        white-space: nowrap;
      }
    
      button.btn:hover {
        background-color: #0056b3; 
      }
    
      .container {
        display: flex;
        justify-content: center;
        align-items: left;
        padding-top: 0.75rem; 
        padding-bottom: 0.75rem;
        flex-direction: row;
        padding-left: 200px; 
        padding-right: auto;
      }
      
      @media (min-width: 768px) {
        div.lex {
              width: 100%; 
              padding-right:300px; 
              padding-left: 1px; 
              flex-direction: row; 
              align-items: flex-start; 
              text-align: left; 
              margin-top: 30px;
              margin-bottom: 0; 
              margin-left: 5px;
        }
      
        div.lex h2 {
               font-size: 1.9rem; 
                margin-bottom: 10px; 
                font-weight: 600; 
                color: #000; 
                width: 100%; 
                text-align: center;
                margin-top: 40px;
                padding-left: 10px;
        }
      
        div.lex p {
               font-size: 1.125rem; 
                line-height: 1.5; 
                width: 110%; 
                color: #666; 
                font-weight: normal; 
                margin-top: 40px;
                text-align: center;
        }
      }

        .flex {
          display: flex;
          align-items: center;
          padding-left: 20px;
          gap: 5px;
        }
        
        .btn1 {
          display: flex;
          color: white;
          background-color: #007bff;
          border: none;
          padding: 10px 40px 10px 40px;
          margin: 3px; 
          border-radius: 0.25rem;
          font-size: 15px; 
          white-space: nowrap;
      }

      .btn1:hover {
        background-color: #18426e; 
      }

      .icon {
        margin-right: 5px;
      }

      .box {
          color: #888;
          background-color: white;
          border: 1px solid #ccc; 
          padding-top: 10px;
          padding-bottom: 10px;
          padding-right: 0.5rem;
          padding-left: 0.5rem;
          outline: none;
          position: relative;
          margin-left: 5px;
          border-radius: 4px;
        }

        .box:hover {
          background-color: white; 
          border-color: #007bff; 
          color: #007bff; 
        }

        p.text {
          display: inline-flex;
          color: #999;
          cursor: pointer;
          font-size: 17px;
          margin-left: 10px;
          margin-bottom: 40px;
        }

        .text1 {
          margin-top: 10px;
          font-weight: 500;
        }
        
        .span {
          color: #2980b9;
          cursor: pointer;
          font-size: 15px;
          margin-top: 10px;
        }   

      div.div {
        margin-right: 150px;
      }
      
      img.object {
        object-fit:cover;
        margin-left: auto;
        display: inline-block;
        align-items: right;
        border-radius: 5px;
        max-width: 600px;
        max-height: 600px; 
        margin-top: 70px;
        margin-bottom: 50px;
        padding-right: 10px;
      }

      hr.border {
        border: 1px solid;
        margin-left: 2.4rem;
        margin-right: 2.4rem;
        margin-left: 1.2rem;
        margin-right: 1.2rem;
      }
      
      h2.h2 {
        text-align: center;
        margin-top: 1rem;
        font-weight: 600;
        font-family: "Poppins", sans-serif;
        font-size: medium;
      }

      .div2 {
        margin-left: auto;
        margin-right: auto;
        display: flex;
        padding-left: 5px;
        padding-right: 16px;
        padding-top: 12px;
        padding-bottom: 24px;
        align-items: center;
        flex-direction: row;
      }
     
      div.flex2 {
        flex-grow: 1;
      }

  @media (min-width: 768px) {
    .flex2 {
      display: flex;
      position: relative;
      flex-grow: 1;
      width: 100%;
      margin-top: -12px;
      margin-bottom: 0;
      padding-right: 16px;
      align-items: flex-start;
      text-align: left;
      margin-left: 100px;
      flex-direction: column;
    }

    .head {
      font-size: 3xl;
      margin-bottom: 10px;
      font-weight: 600;
      color: #222;
      font-size: 4xl;
      width: 75%;
      margin-top: 10px;
    }

    .p2 {
      margin-top: 50px;
      margin-bottom: 8px;
      line-height: 1.625;
      width: 130%;
      font-size: 1rem;
      font-weight: normal;
      padding-left: 0;
      padding-right: 400px;
      align-items: center;
   }
  }

.flex3 {
  display: flex;
  justify-content: center;
}

.p3 {
  color: #3182ce;
  font-weight: 600;
  cursor: pointer;
  margin-top: 50px;
  font-size: medium;
  text-decoration: none;
}

div.lex2 {
  margin-right: 150px;
 
}

.object2 {
        position: relative;
        object-fit:cover;
        margin-left: auto;
        display: inline-block;
        align-items: right;
        border-radius: 5px;
        max-width: 600px;
        max-height: 600px; 
        margin-top: 70px;
        margin-bottom: 50px;
        padding-right: 10px;
}

.div3 {
  display: flex;
  justify-content: center; 
  align-items: center; 
  padding-top: 12px; 
  padding-bottom: 24px; 
  padding-left: 12px; 
  padding-right: 12px; 
  margin-top: 10px; 
}

.lex3 {
  width: 83.333333%; 
  max-width: 26.666667rem; 
  margin-bottom: 0; 
}

.object3 {
        position: relative;
        object-fit:cover;
        margin-left: auto;
        display: inline-block;
        align-items: right;
        border-radius: 5px;
        max-width: 700px;
        max-height: 700px;
        margin-top: 70px;
        margin-bottom: 50px;
        padding-right: 10px;
        padding-left: 70px;
}

@media (min-width: 768px) {
  .flex5 {
    display: flex;
    position: relative;
    flex-grow: 1;
    width: 100%;
    margin-top: -12px;
    margin-bottom: 0;
    padding-right: 16px;
    align-items: flex-start;
    text-align: left;
    margin-left: 100px;
    padding-left: 250px;
    flex-direction: column;
  }

.head1 {
  font-size: 1.9rem; 
  margin-bottom: 40px; 
  font-weight: 600; 
  color: #222;
}

.p4 {
  margin-bottom: 32px; 
  line-height: 1.625; 
  width: 65%;
  font-size: 16px; 
  font-weight: normal; 
  color: #222; 
  text-align: left; 
  justify-content: left;
}
}

.flex6 {
  display: flex;
  justify-content: center; 
}

.p5 {
  color: #3182ce; 
  font-weight: 600; 
  cursor: pointer; 
  text-decoration: none;
}

.div4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 5px; 
  padding-right: 16px; 
  padding-top: 48px; 
  padding-bottom: 24px; 
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
.lex4 {
  flex-grow: 1; 
  width: 100%; 
  margin-top: -12px; 
  padding-right: 16px;
  display: flex;
  flex-direction: column;
  text-align: left; 
  margin-bottom: 0;
  position: relative;
  align-items: flex-start;
  margin-left: 80px;
}

.head2 {
  font-size: 1.9rem; 
  margin-bottom: 40px; 
  font-weight: 600; 
  color: #222; 
  width: 75%; 
}

.p6 {
  margin-bottom: 32px; 
  line-height: 1.625; 
  width: 70%; 
  font-weight: 400; 
  color: #222; 
 }
}

.flex7 {
  display: flex;
  justify-content: center; 
}

.p7 {
  color: #3182ce; 
  font-weight: 600; 
  cursor: pointer;
  margin-top: 10px;
  font-size: medium; 
  text-decoration: none;
}

.flex8 {
  margin-right: 150px;
}

.object4 {
        object-fit:cover;
        margin-left: auto;
        display: inline-block;
        align-items: right;
        border-radius: 5px;
        max-width: 650px;
        max-height: 650px; 
        margin-top: 70px;
        margin-bottom: 50px;
        padding-right: 10px;
}

.div5 {
  display: flex;
  flex-direction: row;
  justify-content: center; 
  align-items: center;
  padding-top: 40px; 
  padding-bottom: 48px; 
  padding-left: 16px; 
  padding-right: 16px; 
  margin-bottom: 48px; 
}

.flex9 {
  width: 83.333333%; 
  max-width: 26.666667rem; 
  margin-bottom: 0; 
}

.object5 {
        object-fit:cover;
        margin-left: auto;
        display: inline-block;
        align-items: right;
        border-radius: 5px;
        max-width: 700px;
        max-height: 700px;
        margin-top: 70px;
        margin-bottom: 50px;
        padding-right: 10px;
        padding-left: 60px;
}

@media (min-width: 768px) {
  .lex5 {
    display: flex;
    position: relative;
    flex-grow: 1;
    width: 100%;
    margin-top: -120px;
    margin-bottom: 0;
    padding-right: 16px;
    align-items: flex-start;
    text-align: left;
    margin-left: 100px;
    padding-left: 350px;
    flex-direction: column;
  }

.head3 {
  font-size: 1.9rem; 
  margin-bottom: 40px; 
  font-weight: 600; 
  color: #222;
}

.p8 {
  margin-bottom: 32px; 
  line-height: 1.625; 
  width: 65%;
  font-size: 16px; 
  font-weight: normal; 
  color: #222; 
  text-align: left; 
  justify-content: left;
}
}

.div6 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 5px; 
  padding-right: 16px; 
  padding-top: 48px; 
  padding-bottom: 24px; 
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
.lex6 {
  flex-grow: 1; 
  width: 100%; 
  margin-top: -12px; 
  padding-right: 16px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  text-align: left; 
  margin-bottom: 0;
  position: relative;
  align-items: flex-start;
  margin-left: 80px;
}

.head4 {
  font-size: 1.9rem; 
  margin-bottom: 40px; 
  font-weight: 600; 
  color: #222; 
  width: 75%; 
}

.p9 {
  margin-bottom: 32px; 
  line-height: 1.625; 
  width: 75%; 
  font-weight: 400; 
  color: #222; 
 }
}

.flex10 {
  display: flex;
  justify-content: center; 
}

.p10 {
  color: #3182ce; 
  font-weight: 600; 
  cursor: pointer;
  margin-top: 10px;
  font-size: medium; 
  text-decoration: none;
}

.flex11 {
  margin-right: 150px;
}

.object5 {
        object-fit:cover;
        margin-left: auto;
        display: inline-block;
        align-items: right;
        border-radius: 5px;
        max-width: 650px;
        max-height: 650px; 
        margin-top: 70px;
        margin-bottom: 50px;
        padding-right: 10px;
}

.footer {
  color: #666; 
  font-family: sans-serif; 
  background-color: #f2f2f2; 
}

.div7 {
  padding-left: 16px; 
  padding-right: 16px; 
  padding-top: 40px;
  padding-bottom: 20px; 
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center; 
  flex-direction: row; 
  background-color: #3d3737;
  opacity: 0.9;
}

.img1 {
  display: flex;
  width: 160px; 
}

.object6 {
  cursor: pointer; 
  height: 30px;
  position: relative;
  float: left;
  margin-top: 13px;
  padding-right: 10px;
}

.nav {
  margin-left: 1.25rem; 
  margin-right: 1.25rem; 
  margin-top: 0.125rem; 
  margin-top: 1rem; 
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 1rem; 
  justify-content: center;
}

.nav-class {
  margin-right: 1.25rem; 
  margin-right: 0.75rem; 
  color: #060606; 
  font-weight: 500; 
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.nav-class:hover {
  color: #060606; 
}        